<div id="<%= dom_id micropig %>">
  <p>
    <strong>Name:</strong>
    <%= micropig.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= micropig.age %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= micropig.notes %>
  </p>

</div>
